#searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group{
  margin: 0.2rem;
}

#searchInput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#categorySelect {
  border-radius: 0.2rem;
}

#button-search {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.custom-select{
  width: 200px;
}

table{
  margin-top: 12px;
  vertical-align: middle;
}

thead{
  background-color: #333;
  color: white;
  text-align: center;
}

td{ 
  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.buy-now{
  border-radius: 6px !important;
  background-color: #333 !important;
  color: white !important;
  display: inline-block;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.title{
  text-align: left;
}

.website{
  text-transform: uppercase;
}